<html>
    <head>
        <title><%= @name %> Chapter <%= @chapter_name %></title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>
    <body>
        <% @header = "#{@name} Chapter #{@chapter_name}" %>
        <%= erb :header %>

        <div style="text-align:center;">
            <% if @chapter.done
                 path    = "#{@series.url[1..-1]}/#{@chapter.to_s}"
                 entries = Dir::entries(path)
                 entries.sort.each { |v|
                   unless v.nil? || v.empty? || v[0] == '.' %>
                        <img src="/series/<%= URI::escape(@name) %>/chapter/ <%= @chapter_name %>/image/<%= v %>" /><br />
                    <% end %>
                <% }
                   else %>
                Chapter not downloaded
            <% end %>
        </div>
        <%= erb :footer %>
    </body>
</html>