<table>
    <tr>
        <td style="height:100px;width:300px;"><a href="/"><img src="/images/everydayMangaLogo.png" width="300" height="100" /></a></td>
        <td style="vertical-align:middle;padding-left:50px;"><h1><%= @header %></h1></td>
    </tr>
    <tr>
        <td colspan="2">
           [<a href="/">Manga List</a>] [<a href="/search">Search</a>] [<a href="/signup">Signup</a>]
        </td>
    </tr>
    <tr>
        <td style="overflow:scroll;height:100%" colspan="2">