<html>
    <head>
        <title>Manga List</title>
        <%= erb :jquery %>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/styles/table-fixed-header.css">
        <script type="text/javascript" src="/scripts/jquery.freezeheader.js"></script>
        <script type="text/javascript">
            $(function()
              {
                  $("#table").freezeHeader()
              });
        </script>
    </head>
    <body>
        <% @header = 'Manga List' %>
        <%= erb :header %>
        <table id="table" class="gridView">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Series</th>
                    <th>Up to date</th>
                </tr>
            </thead>
            <tbody>
                <% @list.each_with_index { |v, i| %>
                    <tr class="<%= (i % 2) == 0 ? 'grid' : 'gridAlt' %>">
                        <td><%= i + 1 %></td>
                        <td><a href="/series/<%= URI::escape(v.name) %>"><%= v.name %></a></td>
                        <td style="text-align:center;">
                            <% if (DateTime::now - v.last_update) <= DataManager::MAX_AGE %>
                                <span style="color:green;">√</span>
                            <% else %>
                                <span style="color:red;">X</span>
                            <% end %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <%= erb :footer %>
    </body>
</html>