<html>
    <head>
        <title>Results for <%= @query %></title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>
    <body>
        <% @header = 'Results' %>
        <%= erb :header %>

        <form action="/results" method="get">
            <input type="text" name="query" size="150" value="<%= @query %>" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" />
        </form>
        <br />
        <% if @list.nil? || @list.empty? %>
            No Results
        <% else
             list_count = 0
             @list.each { |_|
               list_count += 1
             } %>
            <%= list_count %> Result<%= list_count == 1 ? '' : 's' %><br />
            <ol>
                <% @list.each { |v| %>
                    <li><a href="/series/<%= URI::escape(v.name) %>"><%= v.name %></a>
                        <ul>
                            <% v.titles.each { |v2| %>
                                <li><%= v2.title %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ol>
        <% end %>
        <%= erb :footer %>
    </body>
</html>