<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>
    <body>
        <% @header = 'Search' %>
        <%= erb :header %>

        <form action="/results" method="get">
            <input type="text" name="query" size="150" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" />
        </form>
        <%= erb :footer %>
    </body>
</html>