<html>
    <head>
        <title><%= @name %></title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>
    <body>
        <% @header = @name %>
        <%= erb :header %>
        <% if @series.summary.nil? || @series.summary.empty? %>
            Not Loaded
        <% else %>
            <h2>Titles:</h2>
            <ul>
                <% @series.titles.each { |v| %>
                    <li><%= v.title %></li>
                <% } %>
            </ul>
            <h2>Creators:</h2>
            <ul>
                <% @series.creators.each { |v| %>
                    <li><a href="/creator/<%= URI::escape(v.name) %>"><%= v.name %></a></li>
                <% } %>
            </ul>
            <h2>Genres:</h2>
            <ul>
                <% @series.genres.each { |v| %>
                    <li><a href="/genre/<%= URI::escape(v.name) %>"><%= v.name %></a></li>
                <% } %>
            </ul>
            <h2>Start Date:</h2>
            <%= @series.start_date %>
            <h2>Status:</h2>
            <%= @series.status %>
            <h2>Summary:</h2>
            <%= @series.summary %>
            <h2>Chapter Ranges:</h2>
            <%= DataManager::make_ranges_dm(@series.chapters) %>
            <h2>Chapters</h2>
            <ul>
                <% @series.chapters.each { |v| %>
                    <li><a href="/series/<%= URI::escape(@name) %>/chapter/<%= v.to_s %>"><%= v.to_s %></a><%= v.done ? ' (downloaded)' : '' %></li>
                <% } %>
            </ul>
        <% end %>
        <%= erb :footer %>
    </body>
</html>