<html>
    <head>
        <title>Sign Up</title>
        <%= erb :jquery %>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script type="text/javascript">
            $(function()
              {
                  $("#birthday").datepicker({
                                                changeMonth: true,
                                                changeYear:  true,
                                                yearRange:   '1900:+00'
                                            });
                  $("#first_name").blur(requiredValidate);
                  $("#last_name").blur(requiredValidate);
                  $("#email").blur(function(e)
                                   {
                                       var re = /^[^\s()<>@,;:\/]+@\w[\w\.-]+\.[a-z]{2,}$/i;
                                       var val = $(this).val().trim();
                                       var $this = $(this);
                                       if(!re.test(val))
                                       {
                                           $this.next("span").html("Invalid email").css('color', 'red');
                                       }
                                       else
                                       {
                                           $.get('/check-email', {email: val}, function(data)
                                           {
                                               if(data == '1')
                                               {
                                                   $this.next("span").html("√").css('color', 'green');
                                               }
                                               else
                                               {
                                                   $this.next("span").html("Email already used").css('color', 'red');
                                               }
                                           });
                                       }
                                   });
              });
            requiredValidate = function(e)
            {
                var $this = $(this);
                if($this.val().trim() == '')
                {
                    $this.next("span").html("Required field").css('color', 'red');
                }
                else
                {
                    $this.next("span").html("√").css('color', 'green');
                }
            };
        </script>
    </head>
    <body>
        <% @header = 'Sign Up' %>
        <%= erb :header %>

        <form action="/signup" method="post">
            First Name: <input type="text" name="first_name" id="first_name" /><span id="fnv" style="padding-left: 5px;">&nbsp;</span><br />
            Last Name: <input type="text" name="last_name" id="last_name" /><span id="lnv" style="padding-left: 5px;">&nbsp;</span><br />
            Email Address: <input type="text" name="email" id="email" /><span id="eav" style="padding-left: 5px;">&nbsp;</span><br />
            Birthday: <input type="text" name="birthday" id="birthday" /><span id="bdv" style="padding-left: 5px;">&nbsp;</span><br />
        </form>
        <%= erb :footer %>
    </body>
</html>