/* ----------->>> GridView <<<----------*/
.gridView
{
    margin:          10px 0;
    border:          medium none !important;
    border-collapse: collapse;
}

.gridView tr td
{
    vertical-align: top;
    padding-left:   5px;
    padding-right:  5px;
}

.gridView thead tr, .footer
{
    vertical-align:  middle;
    text-decoration: none;
    text-align:      center;
}

/* --->>> HeaderStyle <<<---*/
.gridView thead tr
{
    color:          #333;
    background:     #fff url(../images/bg-header-grid.png) bottom repeat-x;
    vertical-align: middle;
    height:         25px;
}

.gridView thead tr th
{
    border-top:     1px solid #E2E6E6;
    border-bottom:  3px solid #E5E5E5;
    vertical-align: middle;
    padding-left:   5px;
    padding-right:  5px;
}

/* ------------>>> Grid <<<--------------*/
.grid, .gridAlt
{
    vertical-align: middle;
}

.grid:hover, .gridAlt:hover
{
    color:      #000;
    background: #D4E5F6;
}

.grid
{
    background-color: #fff;
}

/*RowStyle*/
.gridAlt
{
    background-color: #eee;
}

/* -------->>> Link Grid's <<<-----------*/
.grid a, .gridAlt a
{
    color:           #384249;
    text-decoration: none;
}

.grid a:hover, .gridAlt a:hover
{
    color:           #000;
    text-decoration: underline;
}